.sale{
  background-color:var(--accent-color);
  margin-bottom:var(--indent-of-section) ;
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    margin: 0;
    margin-right: 46px;
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 300px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color:var(--light-color);
    span{
      display: block;
    }
  }
  &__img{
    margin-right: 46px;
  }
  &__btn{
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color:var(--dark-color);
    background-color:var(--light-color);
    padding: 15px 46px;
  }
}
