<section class="banner-section">
  <h1 class="visually-hidden">Banner section</h1>
  <div class="container">
    <div class="banner-section__inner">
      <div class="banner-section__slider">
      <div class="swiper banner-section-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="swiper-slide__link" href="#">
                <img src="img/banner-img-1.jpg" alt="banner-img">
              </a>
            </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination"></div>
      </div>
      </div>
      <a class="banner-section__item sale-item" href="#">
        <div class="sale-item__top">
          <span class="sale-item__info">акция</span>
          <div class="sale-item__price">
            <span class="sale-item__price-new ">190 000</span>
            <span class="sale-item__price-old ">225 000 </span>
          </div>
        </div>
        <div class="sale-item__center">
          <img class="sale-item__img" src="img/content/sale-content-img.png" alt="content-icon">
          <h5 class="sale-item__title">Лодочный мотор Suzuki DF9.9BRS</h5>
        </div>
        <div class="sale-item__bottom">
          <p class="sale-item__date">Акция действует до</p>
          <span class="sale-item__span">15.02.2023</span>
        </div>
      </a>
    </div>
  </div>
</section>
