<section class="catalog-section">
  <div class="container">
<ul class="list-reset breadcrumbs">
  <li class="breadcrumbs__item">
    <a href="#" class="breadcrumbs__link">Главная</a>
  </li>
  <li class="breadcrumbs__item">
    <a class="breadcrumbs__link">Гидроциклы</a>
  </li>
</ul>
  <h2 class="catalog-section__title">Гидроциклы</h2>
  <div class="catalog-section__top">
  <ul class="catalog-section__filter filter list-reset">
    <li class="filter__item">
      <button class="filter__btn btn-reset">Полноприводные</button>
    </li>
    <li class="filter__item">
      <button class="filter__btn btn-reset">от 5000</button>
    </li>
    <li class="filter__item">
      <button class="filter__btn btn-reset">BRP</button>
    </li>
    <li class="filter__item">
      <button class="filter__btn btn-reset">еще</button>
    </li>
  </ul>
  <div class="catalog-section__filter sorting">
<button class="sorting__btn  btn-reset">По полулярности</button>
<div class="dropdown">
  <ul class="dropdown__list list-reset">
    <li class="dropdown__item">
      <button class="dropdown__btn btn-reset"> По отзывам </button>
    </li>
    <li class="dropdown__item">
      <button class="dropdown__btn btn-reset"> По цене</button>
    </li>
    <li class="dropdown__item">
      <button class="dropdown__btn btn-reset"> По качеству</button>
    </li>
    <li class="dropdown__item">
      <button class="dropdown__btn btn-reset">По мощности</button>
    </li>
  </ul>
</div>
<div class="sorting-block">
<button class="sorting-block__btn sorting-block__btn-left btn-reset"></button>
<button class="sorting-block__btn sorting-block__btn-right btn-reset"></button>
</div>
  </div>
  </div>
  <div class="catalog-inner">
    <aside class="catalog-inner__aside aside-filter">
      <div class="aside-filter">
        <div class="aside-filter__tabs tabs-filter">
          <button class="aside-filter__tab  btn-reset" data-tab-filter="#filter-1">Параметры</button>
          <button class="aside-filter__tab btn-reset" data-tab-filter="#filter-2">по марке</button>
        </div>
        <div class="tabs-container">
          <div class="tabs-content aside-filter__content aside-filter__content--active" id="filter-1">
            <form class="aside-filter__form" >
              <ul class="aside-filter__list list-reset">
                <li class="aside-filter__item aside-filter__item--availability">
                  <button class="aside-filter__btn btn-reset"></button>
                  <h6 class="aside-filter__title">Наличие</h6>
                  <div class="aside-filter__checkbox-block">
                  <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field">
                    <span class="custom-checkbox__content">В наличие</span>
                  </label>
                  <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field">
                    <span class="custom-checkbox__content">Под заказ</span>
                  </label>
                  </div>
                </li>
                <li class="aside-filter__item aside-filter__item--new">
                  <button class="aside-filter__btn btn-reset"></button>
                  <h6 class="aside-filter__title">Новинки</h6>
                  <div class="aside-filter__checkbox-block">
                    <label class="custom-checkbox">
                      <input type="checkbox" class="custom-checkbox__field" checked="checked" >
                      <span class="custom-checkbox__content">Все</span>
                    </label>
                    <label class="custom-checkbox">
                      <input type="checkbox" class="custom-checkbox__field">
                      <span class="custom-checkbox__content">Новинки</span>
                    </label>
                  <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__field">
                    <span class="custom-checkbox__content">Акции</span>
                  </label>
                  </div>
                </li>
                <li class="aside-filter__item">
                  <button class="aside-filter__btn btn-reset"></button>
                  <h6 class="aside-filter__title">Цена</h6>
                  <div class="aside-filter__slider" id="slider"></div>

                  <div class="aside-filter__checkbox-block">
                    <label class="aside-filter__label">
                    <span class="aside-filter__range">От</span>
                    <input id="input-1" class="aside-filter__price input-reset" min="100000" max="999999" placeholder="100 000" type="number">
                    </label>
                    <label class="aside-filter__label">

                    <span class="aside-filter__range">До</span>
                    <input id="input-2" class="aside-filter__price input-reset" min="100000" max="999999" placeholder="500 000" type="number">
                    </label>
                  </div>
                </li>

              </ul>
            </form>

          </div>
          <div class="tabs-content aside-filter__content" id="filter-2">
23
          </div>
        </div>
      </div>
    </aside>
    <div class="catalog-inner__content">
      <ul class="catalog-inner__list list-reset">
        <li class="catalog-inner__item">
            <div class="product-item__wrapper">
              <button class="product-item__favorite  btn-reset"></button>
            </div>
            <button class="product-item__basket btn-reset">
              <img src="img/icons/basket-light.svg" alt="basket">
            </button>
            <a class="product-item catalog-section__item" href="#">
              <span class="product-item__hover-text">посмотреть товар</span>
              <img class="catalog-inner__img" src="img/content/catalog/img-1.png" alt="catalog images">
              <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
              <span class="product-item__price">1 049 500 ₽</span>
            </a>
        </li>

        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item product-item--sale" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-2.png" alt="product images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic</h4>
            <span class="product-item__price">1 100 475 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item " href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-3.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango</h4>
            <span class="product-item__price">1 049 500 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper product-item--ended">
            <button class="product-item__favorite btn-reset"></button>
            <button class="product-item__basket btn-reset">
              <img src="img/icons/basket-light.svg" alt="basket">
            </button>
            <a class="product-item__report" href="#">
              <span>Сообщить о поступлении</span>
            </a>
            <a class="product-item catalog-section__item product-item--sale" href="#">
              <span class="product-item__hover-text">посмотреть товар</span>
              <img class="catalog-inner__img" src="img/content/catalog/img-4.png" alt="product images">
              <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo GTR 230hp STD Black / Gulfstream</h4>
              <span class="product-item__price">9 800 ₽</span>
              <span class="product-item__ended">нет в наличии</span>
            </a>
          </div>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-5.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo GTX 300hp LTD Liquid Metal</h4>
            <span class="product-item__price">1 543 000 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-6.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo Spark 60hp 2 up</h4>
            <span class="product-item__price">732 345 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-7.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo Spark GTS 90hp Rental</h4>
            <span class="product-item__price">857 666 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-8.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл BRP SeaDoo WAKE 230hp PRO Teal blue</h4>
            <span class="product-item__price">1 229 711 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-9.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл Spark 2-UP 900 Ho Ace Chili Pepper</h4>
            <span class="product-item__price">587 440 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper">
            <button class="product-item__favorite  btn-reset"></button>
          </div>
          <button class="product-item__basket btn-reset">
            <img src="img/icons/basket-light.svg" alt="basket">
          </button>
          <a class="product-item catalog-section__item" href="#">
            <span class="product-item__hover-text">посмотреть товар</span>
            <img class="catalog-inner__img" src="img/content/catalog/img-10.png" alt="catalog images">
            <h4 class="catalog-inner__title">Гидроцикл Spark 2-UP 900 Ho Ace Pineapple</h4>
            <span class="product-item__price">587 440 ₽</span>
          </a>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper product-item--ended">
            <button class="product-item__favorite btn-reset"></button>
            <button class="product-item__basket btn-reset">
              <img src="img/icons/basket-light.svg" alt="basket">
            </button>
            <a class="product-item__report" href="#">
              <span>Сообщить о поступлении</span>
            </a>
            <a class="product-item catalog-section__item product-item--sale" href="#">
              <span class="product-item__hover-text">посмотреть товар</span>
              <img class="catalog-inner__img" src="img/content/catalog/img-11.png" alt="product images">
              <h4 class="catalog-inner__title">Гидроцикл BRP Sea-doo Spark 2-UP 900 Ace Vanilla</h4>
              <span class="product-item__price">9 800 ₽</span>
              <span class="product-item__ended">нет в наличии</span>
            </a>
          </div>
        </li>
        <li class="catalog-inner__item">
          <div class="product-item__wrapper product-item--ended">
            <button class="product-item__favorite btn-reset"></button>
            <button class="product-item__basket btn-reset">
              <img src="img/icons/basket-light.svg" alt="basket">
            </button>
            <a class="product-item__report" href="#">
              <span>Сообщить о поступлении</span>
            </a>
            <a class="product-item catalog-section__item product-item--sale" href="#">
              <span class="product-item__hover-text">посмотреть товар</span>
              <img class="catalog-inner__img" src="img/content/catalog/img-12.png" alt="product images">
              <h4 class="catalog-inner__title">Гидроцикл Spark 3-UP 900 HO Ace IBR Blueberry</h4>
              <span class="product-item__price">9 800 ₽</span>
              <span class="product-item__ended">нет в наличии</span>
            </a>
          </div>
        </li>

      </ul>
      <div class="pagination">
        <ul class="pagination__list list-reset">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--dots"><span>...</span></a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">11</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>
</section>



