<section class="categories">
  <div class="container">
    <h2 class="visually-hidden">categories</h2>

    <ul class="categories__list list-reset">
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Квадроциклы</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-1.png" alt="content">
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Гидроциклы</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-2.png" alt="content">
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Катера</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-3.png" alt="content">
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Снегоходы</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-4.png" alt="content">
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Вездеходы</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-5.png" alt="content">
            </div>
          </div>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">
          <div class="categories__content">
            <div class="categories__info">
              <h4 class="categories__title">Двигатели</h4>
              <p class="categories__more">подробнее</p>
            </div>
            <div class="categories__img">
              <img src="img/categories/images-6.png" alt="content">
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

</section>
