<section  class="product">
  <div class="container">
    <div class="product__inner">
      <h2 class="product__title">Популярные товары</h2>
      <div class="tabs">
        <ul class="tabs__nav list-reset">
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_1" type="button">запчасти</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_2" type="button">моторы</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_3" type="button">шины</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_4" type="button">электроника</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_5" type="button">инструменты</button></li>
          <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" data-tabs="#product_6" type="button">аксессуары</button></li>
        </ul>
        <div class="tabs__content">
          <div class="tabs__panel" id="product_1" >
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="product-item__wrapper">
                      <button class="product-item__favorite  btn-reset"></button>
                    </div>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item" href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                      <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                      <span class="product-item__price">9 800 ₽</span>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <div class="product-item__wrapper">
                      <button class="product-item__favorite  btn-reset"></button>
                    </div>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item product-item--sale" href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-2.png" alt="product images">
                      <h4 class="product-item__title">Спасательный жилет BRP Men's Airflow PFD</h4>
                      <span class="product-item__price">6 900 ₽</span>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <div class="product-item__wrapper">
                      <button class="product-item__favorite  btn-reset"></button>
                    </div>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item" href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                      <h4 class="product-item__title">BRP Audio-Premium System</h4>
                      <span class="product-item__price">68 000 ₽</span>
                    </a>
                  </div>

                  <div class="swiper-slide">
                    <div class="product-item__wrapper product-item--ended">
                      <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
          <div class="tabs__panel" id="product_2">
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                    <h4 class="product-item__title">BRP Audio-Premium System</h4>
                    <span class="product-item__price">68 000 ₽</span>
                  </a>
                </div>

                <div class="swiper-slide">
                  <div class="product-item__wrapper product-item--ended">
                    <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
          <div class="tabs__panel"id="product_3">
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                    <h4 class="product-item__title">BRP Audio-Premium System</h4>
                    <span class="product-item__price">68 000 ₽</span>
                  </a>
                </div>

                <div class="swiper-slide">
                  <div class="product-item__wrapper product-item--ended">
                    <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
          <div class="tabs__panel"id="product_4">
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                    <h4 class="product-item__title">BRP Audio-Premium System</h4>
                    <span class="product-item__price">68 000 ₽</span>
                  </a>
                </div>

                <div class="swiper-slide">
                  <div class="product-item__wrapper product-item--ended">
                    <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
          <div class="tabs__panel"id="product_5">
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                    <h4 class="product-item__title">BRP Audio-Premium System</h4>
                    <span class="product-item__price">68 000 ₽</span>
                  </a>
                </div>

                <div class="swiper-slide">
                  <div class="product-item__wrapper product-item--ended">
                    <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
          <div class="tabs__panel"id="product_6">
            <div class="swiper product-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-2.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-3.png" alt="product images">
                    <h4 class="product-item__title">BRP Audio-Premium System</h4>
                    <span class="product-item__price">68 000 ₽</span>
                  </a>
                </div>

                <div class="swiper-slide">
                  <div class="product-item__wrapper product-item--ended">
                    <button class="product-item__favorite btn-reset"></button>
                    <button class="product-item__basket btn-reset">
                      <img src="img/icons/basket-light.svg" alt="basket">
                    </button>
                    <a class="product-item__report" href="#">
                      <span>Сообщить о поступлении</span>
                    </a>
                    <a class="product-item " href="#">
                      <span class="product-item__hover-text">посмотреть товар</span>
                      <img class="product-item__img" src="img/content/product-4.png" alt="product images">
                      <h4 class="product-item__title">Спасательное снаряжение</h4>
                      <span class="product-item__price">9 800 ₽</span>
                      <span class="product-item__ended">нет в наличии</span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="product-item__wrapper">
                    <button class="product-item__favorite  btn-reset"></button>
                  </div>
                  <button class="product-item__basket btn-reset">
                    <img src="img/icons/basket-light.svg" alt="basket">
                  </button>
                  <a class="product-item product-item--sale" href="#">
                    <span class="product-item__hover-text">посмотреть товар</span>
                    <img class="product-item__img" src="img/content/product-1.png" alt="product images">
                    <h4 class="product-item__title">Водонепроницаемый Рюкзак</h4>
                    <span class="product-item__price">9 800 ₽</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-button-next swiper-button-next--product-swiper"></div>
            <div class="swiper-button-prev swiper-button-prev--product-swiper"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-center">
      <a class="show-more btn-reset" href="#">Показать еще</a>
    </div>
  </div>
</section>
